form, ul, h2{
    margin:15px;
}

.boxes{
    border-radius: 10px;
}

.button-enviar{
    background-color: rgb(224, 95, 249);
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.button-remover{
    background-color: rgb(220, 78, 248);
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}
