<form [formGroup]="clienteForm" (ngSubmit)="inserir()">
    <p>
        Nome: <input class="boxes" type="text" formControlName="nome"/>
    </p>
    <p>
        Telefone <input class="boxes" type="text" formControlName="telefone"/>
    </p>
    <button class="btn button-enviar" type="submit">Enviar</button>

</form>


<h2>Listar Clientes</h2>

<ul>
    @for(item of clientes; track $index){
    <li> {{item.id}} - {{item.nome}} - {{item.telefone}}
        <input class="btn button-remover" type="button" value="Remover" (click)="remover(item.id)">
        <a href="client/{{item.id}}" class="btn button-remover">Editar</a>
    </li>
    }
</ul>