<form [formGroup]="tarefaForm" (ngSubmit)="adicionar()">
    <p>
        Nome da Tarefa: <input class="boxes" type="text" formControlName="nomeTarefa">
    </p>
    <p>
        Título: <input class="boxes" type="text" formControlName="titulo">
    </p>
    <p>
        Descrição: <input class="boxes" type="text" formControlName="descricao">
    </p>
    <p>
        Data: <input class="boxes" type="text" formControlName="data">
    </p>
    <button class="button-enviar" type="submit">Cadastrar</button>
</form>

<h2>Lista de Tarefas</h2>
<ul>
    @for(item of tarefas; track $index){
    <li> {{item.titulo}} - {{item.nomeTarefa}} - {{item.descricao}} - {{item.data}}
        <input class="button-remover" type="button" value="remover"(click)="remover(item.nomeTarefa)">
    </li>
    }
</ul>
